<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Apellido Paterno</label>
            <input type="text" class="form-control" id="apaterno" >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Apellido Materno</label>
            <input type="text" class="form-control" id="apaterno" >
        </div>
        
    </body>
</html>
